* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

[data-theme="light"] {
  --background-color: #FDF3F1;
  --text-color: black;
  --button-text-color: var(--background-color);
  --accent-color: orangered;
  --form-background: #333;
  --form-text-color: white;
  --howtouse-background: #333;
}

[data-theme="dark"] {
  --background-color: #333;
  --text-color: white;
  --button-text-color: var(--background-color);
  --accent-color: #D0D066;
  --form-background: white;
  --form-text-color: black;
  --howtouse-background: #FDF3F1;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  -webkit-transition: 1s;
  transition: 1s;
}

.form-div {
  display: none;
  position: absolute;
  background-color: var(--form-background);
  margin: 0;
  top: 30%;
  width: 30%;
  font-size: 1.7em;
  padding: 1em;
  border-radius: 0.5em;
  -webkit-animation: anim 1s;
          animation: anim 1s;
}

.form-div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-div form input {
  text-align: right;
}

.form-div form .set-title {
  color: var(--form-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  border: 1px solid black;
}

.form-div form .set-time-break-goal {
  padding: 0;
  color: var(--form-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-div form .set-time-break-goal button {
  color: var(--form-text-color);
  margin: 0;
  font-size: 1em;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.form-div form .set-time-break-goal .time, .form-div form .set-time-break-goal .break, .form-div form .set-time-break-goal .goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

.form-div form .submit-btn {
  height: 3em;
  width: 7em;
  text-align: center;
  border-radius: 0.5em;
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  margin-top: 1em;
}

.form-div .close-form {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: var(--background-color);
  color: red;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.form-div .close-form:hover {
  opacity: 0.7;
}

@-webkit-keyframes anim {
  from {
    top: 100%;
    width: 30%;
    opacity: 0;
  }
  to {
    top: 30%;
    width: 30%;
    opacity: 1;
  }
}

@keyframes anim {
  from {
    top: 100%;
    width: 30%;
    opacity: 0;
  }
  to {
    top: 30%;
    width: 30%;
    opacity: 1;
  }
}

.display {
  display: block;
}

.hidden {
  display: hidden;
}

.session-title {
  margin: 0;
  margin-top: 5vh;
  font-size: 5em;
  font-weight: bold;
  background-image: -webkit-linear-gradient(92deg, #ee189c, #feab3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress-bar {
  margin: 0;
  margin-top: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.progress-bar .clock {
  color: var(--text-color);
  margin-bottom: 3em;
  font-size: 10em;
  border: 1px solid blue;
  padding: 0;
  margin-bottom: 0.5em;
}

.progress-bar .goal-count {
  position: absolute;
  color: var(--text-color);
  bottom: 35%;
  right: 3%;
  font-size: 1.5em;
}

.progress-bar .session-break {
  position: absolute;
  color: var(--text-color);
  bottom: 35%;
  left: 3%;
  font-size: 1.5em;
}

.progress-bar #my-progress {
  position: relative;
  width: 30vw;
  background-color: #FFE0BD;
  height: 1.5em;
  border-radius: 0.75em;
  margin-bottom: 1em;
}

.progress-bar #my-progress #bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 1.5em;
  max-width: 100%;
  background-color: #00ccff;
  border-radius: 0.75em;
}

.play-stop-buttons {
  margin: 0;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-stop-buttons button {
  margin: 1em;
  height: 4em;
  width: 4em;
  padding: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.play-stop-buttons button span {
  font-size: 1.5em;
}

.play-stop-buttons button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.on-mouse-down {
  background-color: #B50B66 !important;
}

.on-mouse-up {
  background-color: var(--accent-color);
}

.snackbar-hidden {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.snackbar-show {
  visibility: visible;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.feature-buttons button {
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.feature-buttons button span {
  font-size: 1.9em;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 66vh;
  width: 33vw;
  top: 12%;
  background-color: var(--howtouse-background);
  color: var(--background-color);
}

.slides .slide-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-flow: column;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.slides .slide-grid .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  width: 33vw;
  height: 66vh;
  padding: 1em;
  text-align: center;
  line-height: 1.5em;
}

.slides .slide-grid .slide .slide-title {
  font-size: 1.7em !important;
  margin-top: 1em;
  margin-bottom: 1em;
}

.slides .slide-grid .slide button {
  margin-top: 3em;
  height: 3vh;
  width: 10vw;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.slides .move-btn {
  position: absolute;
  height: 3em;
  width: 3em;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #BAF123;
  font-size: 1.5em;
  color: var(--text-color);
}

.slides #tomato {
  width: 40%;
  height: auto;
}

.slides #lightbulb {
  width: 66%;
  height: auto;
  margin-top: 5em;
}

.slides #study {
  width: 66%;
  height: auto;
  margin-top: 5em;
}

.slides #sun {
  width: 66%;
  height: auto;
  margin-top: 5em;
}

.slides #knowledge {
  width: 66%;
  height: auto;
  margin-top: 5em;
}

.slides #clock {
  width: 50%;
  height: auto;
  margin-top: 5em;
}

.slides .close {
  position: absolute;
  right: 2%;
  top: 2%;
  display: block;
  font-size: 1em;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

@media all and (max-width: 768px) {
  .form-div {
    width: 80%;
  }
  .form-div form .set-time-break-goal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-div form .set-time-break-goal .time, .form-div form .set-time-break-goal .break, .form-div form .set-time-break-goal .goal {
    margin: 0.5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    border: 1px solid black;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .form-div form .set-time-break-goal .time div, .form-div form .set-time-break-goal .break div, .form-div form .set-time-break-goal .goal div {
    margin-left: 2em;
    float: right;
    border: 1px solid black;
  }
  .progress-bar .clock {
    color: var(--text-color);
    font-size: 8em;
    padding: 0;
    margin-bottom: 0.5em;
  }
  .progress-bar .goal-count {
    bottom: 40%;
    right: 7%;
    font-size: 1.2em;
  }
  .progress-bar .session-break {
    bottom: 40%;
    left: 7%;
    font-size: 1.2em;
  }
  .progress-bar #my-progress {
    position: relative;
    width: 75vw;
    height: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }
  .progress-bar #my-progress #bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 1em;
    max-width: 100%;
    border-radius: 0.5em;
  }
  .session-title {
    font-size: 3em;
  }
  .feature-buttons {
    position: absolute;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feature-buttons button {
    font-size: 0.9em;
    height: 60px;
    width: 60px;
    margin: 0.9em 0.9em 0 0.9em;
  }
  .slides {
    height: 100vh;
    width: 100vw;
    top: 0%;
  }
  .slides .slide-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-auto-flow: column;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
  }
  .slides .slide-grid .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.3em;
  }
  .slides .slide-grid .slide .slide-title {
    font-size: 1.7em !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .slides .slide-grid .slide button {
    margin-top: 3em;
    height: 3em;
    width: 12em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
}

@media all and (min-width: 768px) {
  .feature-buttons {
    position: absolute;
    left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature-buttons button {
    font-size: 1.1em;
    height: 80px;
    width: 80px;
    margin: 1em 1em 0 1em;
    cursor: pointer;
    background-color: var(--accent-color);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .feature-buttons button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=Main.css.map */